<h1>Stupid Coaching</h1>

<img src="https://previews.123rf.com/images/lineartestpilot/lineartestpilot1404/lineartestpilot140401443/27825129-cartoon-man-asking-question.jpg" alt="">
<div class="section">
  <p><%= @question %></p>
  <p>- You</p>
</div>

<div class="section">
  <p><%= @answer %></p>
  <p>- Your coach</p>
</div>

<img src="https://thumbs.dreamstime.com/b/coach-yelling-9646262.jpg" alt="">
<p class="footer"><%= link_to "Ask a new question", ask_path %></p>
